<div class="panel-block">
  <div class="is-flex is-justify-content-space-between dashboard-panel">
    <div class="">
      <small>
        By
        {{user.username}}
        on
        {{format_date created_at}}
      </small>
      <div class="">
        <h5>{{title}}</h5>
      </div>
      {{#if comments.length}}
        <small>
          {{comments.length}}
          comment(s)
        </small>
      {{/if}}
    </div>
    <div class="">
      <a href="/post/{{id}}" class="button is-danger">View</a>
      <a href="/dashboard/edit/{{id}}" class="button is-danger">Edit</a>
    </div>
  </div>
</div>