<div class="list-group-item">
  <div class="d-flex justify-content-between">
    <div>
      <small>
        By
        {{user.username}}
        on
        {{format_date created_at}}
      </small>
      <div class="d-flex w-100 justify-content-between">
        <h5>{{title}}</h5>
      </div>
      {{#if comments.length}}
        <small>
          {{comments.length}}
          comment(s)
        </small>
      {{/if}}
    </div>
    <div class="align-self-center">
      <a href="/post/{{id}}" class="btn btn-sm btn-primary">View</a>
      <a href="/dashboard/edit/{{id}}" class="btn btn-sm btn-primary">Edit Post</a>
    </div>
  </div>
</div>