<div class="dashboard-pic">
<div class="container mt-6 p-4 has-background-warning-light post-indiv">
  <h1 class="title is-size-2 mt-6">
    {{post.title}}
  </h1>
  <p class="subtitle">
    An Alternative Ending by for <strong>{{post.movie_id}}</strong><br>
    <span class="is-size-6">by {{post.user.username}}, posted on {{format_date post.created_at}}
  </p>
  </p>
<iframe src="https://embed.lottiefiles.com/animation/61020"></iframe>
  <div class="columns">
    <div class="column box ml-4">
      <p>{{post.content}}</p>
    </div>
    <div class="column">
      <div class="is-flex searchresultsitem p-3">
        <div class="mr-3 movieposter">
          {{!-- movie poster goes here --}}
        </div>
        <div class="is-align-self-center searchresultsitemtitle p-4">
          <p class="movietitle has-text-weight-bold is-size-5 mb-3">Movie Poster</p>
          <p class="moviedescription"></p>
        </div>
      </div>
    </div>
  </div>
   <div class="">
          <button class="button is-normal is-success mr-2"><iframe src="https://embed.lottiefiles.com/animation/13192"></iframe></button>
   </div>

  {{#if post.comments.length}}
  <hr />
  <div class="row">
    <p>{{post.comments.length}} comment(s):</p>
  </div>
  {{/if}}
  <div class="list-group mt-3 mb-3 message is-danger card-background">
    {{#each post.comments}}
    <div class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <small class="text-muted message-header"><strong>User Name: {{user.username}}</strong>
          Posted On:
          {{format_date created_at}}</small>
      </div>
      <p class="mb-1 card-content">{{comment_body}}</p>
    </div>
    {{/each}}
  </div>
  {{#if loggedIn}}
  <div class="row mb-3">
    <div class="col">
      <p class="lead">Add a comment</p>
      <form class="comment-form">
        <textarea name="comment-body has-background-link-light" class="form-control mb-3"></textarea><br>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
    </div>
  </div>
  {{/if}}

</div>
</div>

{{#if loggedIn}}
<script src="../public/js/comment.js"></script>
<script src="../public/js/upvote.js"></script>
{{/if}}
<script>
  let postMovieId = {{post.movie_id}}
</script>
<script src="/js/getmoviedata.js"></script>
